<div class="parent" *ngFor="let item of matches;let i=index" >
  <div [class]=getClass(1) class="formatDiv"><p>{{affiche(item[0])}} </p></div>
  <div [class]=getClass(2)>
    <p-inputNumber [(ngModel)]="match[i][0]" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical"
                   inputId="vertical"
                   [min]="0" [max]="23" decrementButtonClass="p-button-secondary"
                   incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
                   decrementButtonIcon="pi pi-minus">
    </p-inputNumber>
  </div>
  <div [class]=getClass(3) class="formatDiv"><p> {{affiche(item[1])}}</p></div>
  <div [class]=getClass(4)>
    <p-inputNumber [(ngModel)]="match[i][1]" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical"
                   inputId="vertical"
                   [min]="0" [max]="23" decrementButtonClass="p-button-secondary"
                   incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
                   decrementButtonIcon="pi pi-minus">
    </p-inputNumber>
  </div>
