
<form class="example-form">
  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" type="text"
           [(ngModel)]="nameTeam"
           (input)="chgname(nameTeam)"
           [ngModelOptions]="{standalone: true}">
  </mat-form-field>

</form>
<button mat-button class="my-button" (click)="addToteams()" >Add Team</button>


<div class="parent">
  <div *ngFor="let teamlist of teams; let i = index " class="{{getClass(i+1)}} my-button">{{teamlist.name}} </div>

</div>
