$buttonfonce:#3c4fe0;
$buttonclair:#5adaff;
$cotton-candy: #ffcbf2ff;
$mauve: #f3c4fbff;
$mauve-2: #ecbcfdff;
$mauve-3: #e5b3feff;
$mauve-4: #e2afffff;
$mauve-5: #deaaffff;
$mauve-6: #d8bbffff;
$lavender-blue: #d0d1ffff;
$columbia-blue: #c8e7ffff;
$celeste: #c0fdffff;

.btnsupr {
  background-image: linear-gradient(to right, #e43a15 0%, #e65245  51%, #e43a15  100%);
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  position :relative;
  left:110px;
  top: 25px;
}

.btnsupr:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
   .button-29 {
     align-items: center;
     appearance: none;
     background-image: radial-gradient(100% 100% at 100% 0, $buttonclair 0, $buttonfonce 100%);
     border: 0;
     border-radius: 6px;
     box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
     box-sizing: border-box;
     color: black;
     font-weight: bold;
     cursor: pointer;
     font-family: "JetBrains Mono",monospace;
     height: 30px;
     justify-content: center;
     list-style: none;
     overflow: hidden;
     padding-left: 10px;
     padding-right: 10px;
     text-decoration: none;
     transition: box-shadow .15s,transform .15s;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     white-space: nowrap;
     will-change: box-shadow,transform;
     font-size: 12px;
     display: inline-block;
     line-height: 1px;
     text-align: center;
     position :relative;
     left:130px;
     top: 25px;
   }

.button-29:focus {
  box-shadow: $buttonfonce 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, $buttonfonce 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: $buttonfonce 0 3px 7px inset;
  transform: translateY(2px);
}
.button-pool {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, $cotton-candy 0, $mauve-6 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  height: 30px;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 12px;
  display: inline-block;
  line-height: 1px;
  text-align: center;

}

.button-pool:focus {
  box-shadow: $mauve-6 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, $mauve-6 0 -3px 0 inset;
}

.button-pool:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, $mauve-6 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-pool:active {
  box-shadow: $mauve-6 0 3px 7px inset;
  transform: translateY(2px);
}



/* SCSS HSL */
$melon: hsla(10, 100%, 83%, 1);
$pale-pink: hsla(9, 88%, 90%, 1);
$seashell: hsla(9, 48%, 95%, 1);
$peach-puff: hsla(27, 82%, 87%, 1);
$peach-crayola: hsla(28, 98%, 80%, 1);

/* SCSS RGB */
$melon: rgba(255, 181, 167, 1);
$pale-pink: rgba(252, 213, 206, 1);
$seashell: rgba(248, 237, 235, 1);
$peach-puff: rgba(249, 220, 196, 1);
$peach-crayola: rgba(254, 200, 154, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ffb5a7ff, #fcd5ceff, #f8edebff, #f9dcc4ff, #fec89aff);
$gradient-right: linear-gradient(90deg, #ffb5a7ff, #fcd5ceff, #f8edebff, #f9dcc4ff, #fec89aff);
$gradient-bottom: linear-gradient(180deg, #ffb5a7ff, #fcd5ceff, #f8edebff, #f9dcc4ff, #fec89aff);
$gradient-left: linear-gradient(270deg, #ffcbf2ff, #f3c4fbff, #ecbcfdff, #e5b3feff, #e2afffff, #deaaffff, #d8bbffff, #d0d1ffff, #c8e7ffff, #c0fdffff);$gradient-top-right: linear-gradient(45deg, #ffb5a7ff, #fcd5ceff, #f8edebff, #f9dcc4ff, #fec89aff);
$gradient-bottom-right: linear-gradient(135deg, #ffb5a7ff, #fcd5ceff, #f8edebff, #f9dcc4ff, #fec89aff);
$gradient-top-left: linear-gradient(225deg, #ffb5a7ff, #fcd5ceff, #f8edebff, #f9dcc4ff, #fec89aff);
$gradient-bottom-left: linear-gradient(315deg, #ffb5a7ff, #fcd5ceff, #f8edebff, #f9dcc4ff, #fec89aff);
$gradient-radial: radial-gradient(#ffb5a7ff, #fcd5ceff, #f8edebff, #f9dcc4ff, #fec89aff);
.btn-grad {

  background-image: $gradient-left;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: black;
  border-radius: 10px;
  border: none;
  display: block;
  padding: 0.5rem;
  margin-bottom: 2rem;
  box-shadow:
    4vh 7vh 14vh -6vh rgba(0,0,0,0.35),
    -4vh 7vh 14vh -6vh rgba(0,0,0,0.35);
}
input{position: absolute;top:10px;left:500px;width:1000px}
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}




.positionPoule {
  position: relative;
  top: 100px;
  left: 150px;
}
h1 { color: #d04764; font-family: 'Lobster', cursive; font-size: 36px; font-weight: normal; line-height: 30px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; }

h2 { color: #2CA4B0; font-family: 'Oleo Script', cursive; font-size: 24px; font-weight: normal; line-height: 32px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; }

p { color: #333; font-family: 'Original Surfer', cursive; font-size: 16px; line-height: 5px;; font-weight: 600;
  position :relative;
  left:-20px;
  top: -25px;
}

a { color: #d04764; font-family: 'Original Surfer', cursive; }
:host ::ng-deep {
  .p-dropdown {
    width: 14rem;
    font-weight: normal;
  }

  .product-name {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .product-description {
    margin: 0 0 1rem 0;
  }

  .product-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
  }

  .product-category {
    font-weight: 600;
    vertical-align: middle;
  }

  .product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;

    img {
      width: 150px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin-right: 2rem;
    }

    .product-list-detail {
      flex: 1 1 0;
    }

    .p-rating {
      margin: 0 0 .5rem 0;
    }

    .product-price {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: .5rem;
      align-self: flex-end;
    }

    .product-list-action {
      display: flex;
      flex-direction: column;
    }

    .p-button {
      margin-bottom: .5rem;
    }
  }

  .product-grid-item {
    margin: .5em;
    border: 1px solid #dee2e6;
    width: 250px;

    .product-grid-item-top,
    .product-grid-item-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    img {
      width: 75%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin: 2rem 0;
    }

    .product-grid-item-content {
      text-align: left;
    }

    .product-price {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}

.card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}
.card1 {
  padding: 2rem;
   border-radius: 4px;
  margin-bottom: 2rem;
  box-shadow:
    4vh 7vh 14vh -6vh rgba(0,0,0,0.35),
    -4vh 7vh 14vh -6vh rgba(0,0,0,0.35);
}
@media screen and (max-width: 576px) {
  :host ::ng-deep .product-list-item {
    flex-direction: column;
    align-items: center;

    img {
      width: 75%;
      margin: 2rem 0;
    }

    .product-list-detail {
      text-align: center;
    }

    .product-price {
      align-self: center;
    }

    .product-list-action {
      display: flex;
      flex-direction: column;
    }

    .product-list-action {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}
