$buttonfonce:#3c4fe0;
$buttonclair:#5adaff;
$cotton-candy: #ffcbf2ff;
$mauve: #f3c4fbff;
$mauve-2: #ecbcfdff;
$mauve-3: #e5b3feff;
$mauve-4: #e2afffff;
$mauve-5: #deaaffff;
$mauve-6: #d8bbffff;
$lavender-blue: #d0d1ffff;
$columbia-blue: #c8e7ffff;
$celeste: #c0fdffff;
$red: red;
.formatDiv {  background-image: radial-gradient(100% 100% at 100% 0, $cotton-candy 0, $mauve-6 100%);
  color: black;
  font-family: Trebuchet MS, serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;

  border: 1px solid black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.formatDivencour {  background-image: radial-gradient(100% 100% at 100% 0, $red 0, $mauve-6 100%);
  color: black;
  font-family: Trebuchet MS, serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;

  border: 1px solid black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.parent {
  display: grid;
  grid-template-columns: 0.7fr 0.1fr 0.7fr 0.1fr 0.1fr 0.1fr 0.1fr;
  grid-template-rows: repeat(1, 70px) ;
  grid-column-gap: 5px;
  grid-row-gap: 4px;

}

.div1 { grid-area: 1 / 1 / 2 / 2;}
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 1 / 4 / 2 / 5; }




::ng-deep .p-inputnumber .p-inputnumber-input {
   background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
  height:1em !important;
  width:3rem !important;

}

:host ::ng-deep .p-inputnumber-button-up ,
:host ::ng-deep .p-inputnumber-button-down{
  height:1em !important;
  width:3rem !important;
  background-image: radial-gradient(100% 100% at 100% 0, $cotton-candy 0, $mauve-6 100%);}
h1 { color: #d04764; font-family: 'Lobster', cursive; font-size: 36px; font-weight: normal; line-height: 48px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; }

h2 { color: #2CA4B0; font-family: 'Oleo Script', cursive; font-size: 24px; font-weight: normal; line-height: 32px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; }

p { color: #333; font-family: 'Original Surfer', cursive; font-size: 16px; line-height: 28px; }

a { color: #d04764; font-family: 'Original Surfer', cursive; }
.check {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, $celeste 0, $buttonfonce 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  height: 30px;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 24px;
  display: inline-block;
  line-height: 1px;
  text-align: center;
  position :relative;
  top:-88px;
  left: 100px;
  width:3rem !important;
}

.check:focus {
  box-shadow: $buttonfonce 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.check:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, $buttonfonce 0 -3px 0 inset;
  transform: translateY(-2px);
}

.check:active {
  box-shadow: $buttonfonce 0 3px 7px inset;
  transform: translateY(2px);
}
.encour {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, $celeste 0, $buttonfonce 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  height: 30px;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 24px;
  display: inline-block;
  line-height: 1px;
  text-align: center;
  position :relative;
top:-55px;
  left: 50px;
  width:3rem !important;
}

.encour:focus {
  box-shadow: $buttonfonce 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.encour:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, $buttonfonce 0 -3px 0 inset;
  transform: translateY(-2px);
}

.encour:active {
  box-shadow: $buttonfonce 0 3px 7px inset;
  transform: translateY(2px);
}
em {position:absolute;
  top:5px;
  left:1rem;
}
