
                    <div class="parent">
                      <div class="div1 formatDiv"><p>{{affiche(team[0+poule*3])}} </p></div>
                      <div class="div2"><p-inputNumber [(ngModel)]="match[0][0]" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical"
                                                       [inputStyle]="formatCompteur()" [min]="0" [max]="23" decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                      </p-inputNumber> </div>
                      <div class="div3 formatDiv"><p> {{affiche(team[1+poule*3])}}</p></div>
                      <div class="div4"> <p-inputNumber [(ngModel)]="match[0][1]" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical"
                                                        [inputStyle]="formatCompteur()" [min]="0" [max]="23" decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                      </p-inputNumber></div>
                      <div class="div5 formatDiv"><p>{{affiche(team[1+poule*3])}}</p> </div>
                      <div class="div6">  <p-inputNumber [(ngModel)]="match[1][0]" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical"
                                                         [inputStyle]="formatCompteur()" [min]="0" [max]="23" decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                      </p-inputNumber></div>
                      <div class="div7 formatDiv"><p>{{affiche(team[2+poule*3])}} </p></div>
                      <div class="div8"> <p-inputNumber [(ngModel)]="match[1][1]" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical"
                                                        [inputStyle]="formatCompteur()" [min]="0" [max]="23" decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                      </p-inputNumber> </div>
                      <div class="div9  formatDiv"><p>{{affiche(team[2+poule*3])}}</p> </div>
                      <div class="div10">     <p-inputNumber [(ngModel)]="match[2][0]" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical"
                                                             [inputStyle]="formatCompteur()" [min]="0" [max]="23" decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                      </p-inputNumber></div>
                      <div class="div11  formatDiv"><p> {{affiche(team[0+poule*3])}}</p> </div>
                      <div class="div12"> <p-inputNumber [(ngModel)]="match[2][1]" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical"
                                                         [inputStyle]="formatCompteur()" [min]="0" [max]="23" decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                      </p-inputNumber> </div>
                    </div>

