<div class="parent" *ngFor="let item of matches;let i=index" >
    <div [class]=getClass(1)  [class]="getFormatdiv(i)"><p>{{affiche(item[0])}} </p></div>
    <div [class]=getClass(2)>
      <p-inputNumber [(ngModel)]="match[i][0]" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical"
                     inputId="vertical"
                     [min]="0" [max]="23" decrementButtonClass="p-button-secondary"
                     incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
                     decrementButtonIcon="pi pi-minus">
      </p-inputNumber>
    </div>
    <div [class]=getClass(3) [class]="getFormatdiv(i)"><p> {{affiche(item[1])}}</p></div>
    <div [class]=getClass(4)>
      <p-inputNumber [(ngModel)]="match[i][1]" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical"
                     inputId="vertical"
                     [min]="0" [max]="23" decrementButtonClass="p-button-secondary"
                     incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
                     decrementButtonIcon="pi pi-minus">

      </p-inputNumber>
      <div class="encour">
      <em class="pi pi-caret-right"  (click)="encour(i)"></em></div>
      <div class="check"> <em class="pi pi-check"  (click)="validMatch(i,item)"></em></div>
  </div>

</div>
<p-table [value]="this.score" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th>match fini</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-team>
    <tr>
      <td>{{afficheteam(team)}}</td>

    </tr>
  </ng-template>
</p-table>
